# Get members of groups based on Github repositories
Used for finding out exercise class membership

In [1]:
from github import Github # pip install PyGithub
import sys
import datetime
import pandas as pd
import numpy as np
import random
from collections import Counter

In [2]:
# load personal access token
with open("C:/Users/gmf123/Dropbox/github_token.txt", mode = "r") as file:
    token = file.read()

year = "2023"    
class_name = "projects-" + year

### Load all repositories in this year's class room

In [3]:
# a. access github through access token.
gh = Github(token)
org = gh.get_organization('NumEconCopenhagen')
all_repos = org.get_repos()

# b. locate all repositories in current class
disregard_repos = []

current_class = [repo.name for repo in all_repos if (class_name in repo.name) & (repo.name not in disregard_repos)]

In [4]:
# see this years' repos
for r in current_class:
    print(r.removeprefix(class_name+"-"))

agnete_louise_mathilde
teamssb
bpr871
valros
iim
snj927-vpc398
kto
hello-world-1
newteam
mes
cbjk
mej
p-b
fmw786
hold-11
it-hurts-when-ip
jt
kscd
andershuus_christianfogel
jakki
n-m
flm446
3500
siuuu
jc
latin-power
rvcode
EFS
best-team
icehot1
jts
anton-holsoe
ida-simone-elin
zds655
wsz235
emil-freddy
bulen
andy-bank
2x-chris-og-ras
ctrl-alt-elite
f-m-r-23
shashi-buhle
de-slemme-programmeringsrotter
team-lets-practice
adamhjorgensen
jos-p-og-tex
lise-adam
programmeursuno
ldg790-wxz394
joost-adam-og-frederik
virginia-rebecca
mathias-emma-S-ren
helene-and-cecilie-class-3
julius-oskar
magnus-kristian
tgr401
kernen-af-kulten
aca
tgp190
snakecity
mc
scb
vennerne
julie-ida-ida
noobs
pied-piper
team-copenhagen
ts-nt
leif
frederikke-x2-og-sofie
boybandet
alt-andet-end-lige
philx2-nico
mit-hemmelige-hold
peter_kj
politgrammering
the-pythoneers
jacob-per
rikke-og-emma
team-norway
lukas-august
andreas
jps
aml
git
mmj
the-best-duo
c
michele-scola
python
s
data_daddies
black-scholes
petron
lnp953
david_kn
smp
rpb672
wilhelm
amalietokk
team-isengard

### Get members

In [5]:
class_repos = []
groups = {}
admins = ["AndersMunkN", "JeppeDruedahl", "ChristianLangholzCarstensen"]
students = []

for repo in all_repos:

    if repo.name not in current_class: continue
    
    # get the set of collaborators for a repo - remove organization admins
    collaborators = repo.get_collaborators().get_page(0)
    members = [c.login for c in collaborators if c.login not in admins] 
    
    # add members to dictionary and to list of all students
    grp_name = repo.name.removeprefix(class_name+"-")  
    groups[grp_name] = members
    
    students.extend(members)

### To Excel

In [6]:
gd = {k:pd.Series(v,dtype='str') for k,v in groups.items()}

groups_df = pd.DataFrame(gd) 
groups_df = groups_df.T
groups_df.rename(columns = {0:'Member1',1:'Member2',2:'Member3'}, inplace=True)
groups_df.fillna('',inplace=True)

groups_df.sort_index(inplace=True)

for col in ['Exercise class','Inaugural','Data','Model','Comments']:
    groups_df[col] = ''

In [7]:
groups_df.reset_index(inplace=True)
groups_df.rename(columns={'index':'Group'}, inplace=True)
groups_df.head()

,Group,Member1,Member2,Member3,Exercise class,Inaugural,Data,Model,Comments
0,2x-chris-og-ras,Tml710,hlw856,bqt845,,,,,
1,3500,qdl529,vzx622,fcd164,,,,,
2,EFS,gpl942,dqb974,FrederikkeKaelsVigh,,,,,
3,aca,chris-aabra,AgnetePade,tpf512,,,,,
4,adamhjorgensen,AdamHJorgensen,,,,,,,

In [8]:
groups_df.to_excel('Groups.xlsx',index=False)